body {
  background: #333;
}

html {
  overflow-y: scroll;
}

.finishBtn {
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar {
  font-family: 'Roboto', sans-serif;
}

.video-js {
    width: 100% !important;
    position: relative !important;
    height: auto !important;
    padding: none;
}

video {
  height: auto;
  vertical-align: middle;
}

.overlay-desc {
  background: rgba(255,255,255,0);
  position: absolute;
  top: 0; right: 0; bottom: 2; left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-family: 'Nobile', sans-serif;
}

body {
  color: white;
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.dot {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  transition: box-shadow .214s ease-in-out, transform .214s ease-in-out'

  &.ui-draggable-dragging {
    box-shadow: 0 0 25px 0 rgba(blue, .5);
    transform: scale3d(1.2, 1.2, 1.2);
    background: rgba(blue, .7);
  }
}
